<h2 class="govuk-heading-m">Failure information</h2>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Reason
    </dt>
    <dd class="govuk-summary-list__value">
      {{failure_theReason}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Status
    </dt>
    <dd class="govuk-summary-list__value">
      Paused
    </dd>
  </div>
</dl>

<h2 class="govuk-heading-m">Citizen information</h2>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name
    </dt>
    <dd class="govuk-summary-list__value">
      {{person_fullName}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      National Insurance number
    </dt>
    <dd class="govuk-summary-list__value">
      {{person_nationalInsurance}}
    </dd>
  </div>
</dl>

<h2 class="govuk-heading-m">Bank account information</h2>

<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name on the account
    </dt>
    <dd class="govuk-summary-list__value">
      {{bank_accountName}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Sort code
    </dt>
    <dd class="govuk-summary-list__value">
      {{bank_sortCode}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Account number
    </dt>
    <dd class="govuk-summary-list__value">
      {{bank_accountNumber}}
    </dd>
  </div>
</dl>

<h2 class="govuk-heading-m">Benefit information</h2>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Benefit type
    </dt>
    <dd class="govuk-summary-list__value">
      {{benefit_benefitType}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Net amount
    </dt>
    <dd class="govuk-summary-list__value">
      {{benefit_netAmount}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Payment start date
    </dt>
    <dd class="govuk-summary-list__value">
      {{benefit_startDate}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Payment end date
    </dt>
    <dd class="govuk-summary-list__value">
      {{benefit_endDate}}
    </dd>
  </div>
</dl>
