<h2 class="govuk-heading-m">Unsent payment</h2>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      AME payment ID
    </dt>
    <dd class="govuk-summary-list__value">
      {{failure_thePaymentid}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Incident occured
    </dt>
    <dd class="govuk-summary-list__value">
      {{failure_theDateandtime}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Reason payment not sent
    </dt>
    <dd class="govuk-summary-list__value">
      {{failure_theReason}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Status
    </dt>
    <dd class="govuk-summary-list__value">
      {{failure_status}}
    </dd>
  </div>

</dl>

<h2 class="govuk-heading-m">Citizen</h2>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name
    </dt>
    <dd class="govuk-summary-list__value">
      {{person_fullName}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      National Insurance number
    </dt>
    <dd class="govuk-summary-list__value">
      {{person_nationalInsurance}}
    </dd>
  </div>
</dl>

<h2 class="govuk-heading-m">Payment account</h2>

<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name on the account
    </dt>
    <dd class="govuk-summary-list__value">
      {{bank_accountName}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Sort code
    </dt>
    <dd class="govuk-summary-list__value">
      {{bank_sortCode}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Account number
    </dt>
    <dd class="govuk-summary-list__value">
      {{bank_accountNumber}}
    </dd>
  </div>
</dl>

<h2 class="govuk-heading-m">Benefit</h2>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Benefit type
    </dt>
    <dd class="govuk-summary-list__value">
      {{benefit_benefitType}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Net amount
    </dt>
    <dd class="govuk-summary-list__value">
      {{benefit_netAmount}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Payment due date
    </dt>
    <dd class="govuk-summary-list__value">
      {{benefit_dueDate}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Benefit start date
    </dt>
    <dd class="govuk-summary-list__value">
      {{benefit_startDate}}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Benefit end date
    </dt>
    <dd class="govuk-summary-list__value">
      {{benefit_endDate}}
    </dd>
  </div>
</dl>
