
{% extends "../layouts/task.html" %}

{% set failure_theReason = "Account not found in Bank Account Maintenance" %}
{% set person_fullName = "Hannah Parker" %}
{% set person_nationalInsurance = "XX 11 22 33 B" %}
{% set bank_accountName = "-" %}
{% set bank_sortCode = "-" %}
{% set bank_accountNumber = "-" %}
{% set benefit_benefitType = "Attendance Allowance" %}
{% set benefit_netAmount = "£91.82" %}
{% set benefit_startDate = "23/10/2018" %}
{% set benefit_endDate = "-" %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "../tasks/task"
}) }}

{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">Complete XX 11 22 33 B</h1>

<p class="govuk-body">Confirm that you have:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>created a replacement payment using CPS Local Payment</li>
  <li>reported the unsent payment incident using DWP Place</li>
</ul>
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>This item will be removed from the list of unsent payments when you select ‘confirm and close’.
  </strong>
<br>
</div>
<a href="../task-list/success/task-list-alt" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
Confirm and close
</a>

<p class="govuk-body"></p>


{% endblock %}
