
{% extends "layout.html" %}

{% block content %}

{% set html %}
  <h3 class="govuk-notification-banner__heading">
    Task completed
  </h3>
{% endset %}

<h1 class="govuk-heading-l">Outstanding tasks</h1>

  <table class="govuk-table">
  <thead class="govuk-table__head">
  <caption class="govuk-table__caption govuk-table__caption--m">The team have 6 tasks to complete</caption>
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header">Last updated</th>
    <th scope="col" class="govuk-table__header">Reason</th>
    <th scope="col" class="govuk-table__header">Status</th>
    <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">09/12/2021</th>
    <td class="govuk-table__cell">Unable to connect to Bank account maintenance</td>
    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Not started</strong></td>
    <td class="govuk-table__cell govuk-table__cell--numeric"><a href="../../tasks/task-1">Start</a></td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">09/12/2021</th>
    <td class="govuk-table__cell">Unable to connect to Bank account maintenance</td>
    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Not started</strong></td>
    <td class="govuk-table__cell govuk-table__cell--numeric"><a href="../tasks/task">Start</a></td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">09/12/2021</th>
    <td class="govuk-table__cell">Unable to connect to Bank account maintenance</td>
    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Not started</strong></td>
    <td class="govuk-table__cell govuk-table__cell--numeric"><a href="../tasks/task">Start</a></td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">09/12/2021</th>
    <td class="govuk-table__cell">Unable to connect to Bank account maintenance</td>
    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Not started</strong></td>
    <td class="govuk-table__cell govuk-table__cell--numeric"><a href="../tasks/task">Start</a></td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">09/12/2021</th>
    <td class="govuk-table__cell">Unable to connect to Bank account maintenance</td>
    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Not started</strong></td>
    <td class="govuk-table__cell govuk-table__cell--numeric"><a href="../tasks/task">Start</a></td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">09/12/2021</th>
    <td class="govuk-table__cell">Unable to connect to Bank account maintenance</td>
    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Not started</strong></td>
    <td class="govuk-table__cell govuk-table__cell--numeric"><a href="../tasks/task">Start</a></td>
  </tr>
  </tbody>
  </table>

{% endblock %}
